.scrollDiv {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.himg{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.scrollDiv::-webkit-scrollbar {
  width: 0;
  display: none;
}
.name{
  font-size:1.3rem ;
  font-weight: 600;
}
.profiles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  /* padding: 1rem 7rem 1rem 7rem; */
  
}
.imagecontainer>img{
  border-radius: 8px;
  box-shadow: 0 0 5px white;
}
.trainerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 5rem 0;
}

.trainerBtn {
  background-color: black;
  border: 1px solid;
  color: white;
  padding: 1rem;
  font-size: 0.7rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.meetTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.teamHead {
  color: white;
  font-family: monospace;
  font-size: 1.3rem;
  margin-top: 5rem;
}

.Line {
  border: 0.1rem solid green;
  width: 2rem;
  margin-bottom: 1.3rem;
}

.contentMeet {
  font-size: 1rem;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  position: relative;
  display: inline-block;
  margin: .25rem;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
}
.row{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}
.card>img{
  height: 12rem;
}
.imgTrainer {
  width: 20vw;
  height: 100%;
}
.imgTrainer:hover .layer {
  display: flex;
}

h4 {
  margin: 0.3rem 0 0.3rem 0;
  color: white;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.4rem;
}

.coach {
  color: white;
  font-size: 0.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.4rem;
}
.imagecontainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.card>img{
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(203, 201, 201);

}

.textoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1.5rem;
}

.imagecontainer:hover .textoverlay {
  display: flex;
}


@media screen and (max-width: 430px) {
  .himg{
    display: block;
    
  }
  .textoverlay{
    font-size: 1rem;
  }
  .imagecontainer>img{
    height: 6rem;
    width: 100%;
  }
  .card>img{
    height: 6rem;
    width: 5rem;
  }
  .name{
    color: #fff;
    font-size: .6rem;
  }
  .coach{
    font-size: .4rem;
  }
  .profiles{
    margin-top: 1rem;
    
  }
}
@media screen and (max-width: 390px) {
  .imgTrainer {
    width: 50vw;
  }
}
